{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "quotes": [2, "single"],
    "no-unused-expressions": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "spy": true,
    "expect": true
  }
}